.Img {
    margin: 8% auto auto auto;
    display: block;
    width: 50%;
}

.Error {
    font-family: "Poppins", sans-serif;
    font-size: 2rem;
    text-align: center;
}

.Button{
    background-color: #008dc8;
    border: none;
    color: #fff;
    text-align: center;
    border-radius: 50px;
    font-size: 16px;
    padding: 5px 15px 5px 15px;
    position: relative;
    transition: all 0.5s;
    display: block;
    margin: 5% auto auto auto;
    width: 20%;
    cursor: pointer;
    font-family: "Inter", sans-serif;
    font-size: 1.2rem;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.7);
}

.Button:hover, .Button:focus, .Button:active{
    background-color: #008dc8;
    width: 25%;
    text-decoration: none;
}

@media (max-width: 1022px) {
    .Button {
        font-size: 1rem;
        width: 25%;
    }
}

@media (max-width: 993px) {
    .Img {
        font-size: 10%;
    }

    .Error {
        font-size: 1.5rem;
    }

    .Button {
        font-size: 1rem;
        width: 30%;
    }
}

@media (max-width: 760px) {
    .Img {
        margin-top: 15%;
    }

    .Error {
        font-size: 1rem;
    }

    .Button {
        font-size: 1rem;
        width: 40%;
    }
}

@media (max-width: 500px) {
    .Img {
        margin-top: 15%;
    }

    .Button {
        font-size: 0.8rem;
    }
}

@media (max-width: 357px) {
    .Img {
        margin-top: 20%;
    }

    .Button {
        font-size: 0.6rem;
    }
}