@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

.Profile {
    text-align: end;
    padding: 10px;
}

.Linkedin, .Github{
    margin-right: 10px;
    margin-bottom: 0;
    font-size: 22px;
    color: grey;
}

.Linkedin:hover, .Github:hover{
    border: none;
    color: #008dc8;
}
  
.imgWrapper {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
  
.img {
    height: 150px;
    width: 150px;
    padding: 5px;
    /* background-color: #BD6997; */
    background-color: grey;
    border-radius: 50%;
}

.Tag {
    text-align: center;
    font-family: "Inter", sans-serif;
}

.Name {
    font-size: 2rem;
    color: #008dc8;
}

.Designation {
    font-size: 1.5rem;
}