@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

.cardContent {
  min-height: 400px;
  max-height: 400px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(168, 192, 235, 0.898);
  width: 20rem;
  margin: 20px;
}

.cardContent:hover {
  transform: scale(1.1);
}

.Profile {
  text-align: end;
  padding: 10px;
}

.Linkedin,
.Github {
  margin-right: 10px;
  margin-bottom: 0;
  font-size: 22px;
  color: grey;
}

.Linkedin:hover,
.Github:hover {
  border: none;
  color: #008dc8;
}

.imgWrapper {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.imgWrapper:hover {
  transform: scale(1.1);
}

.img {
  height: 150px;
  width: 150px;
  padding: 5px;
  /* background-color: #BD6997; */
  background-color: grey;
  border-radius: 50%;
}

.Tag {
  text-align: center;
  font-family: "Inter", sans-serif;
}

.Name {
  font-size: 2rem;
  color: #008dc8;
}

.Designation {
  font-size: 1.5rem;
}

@media (max-width: 767px) {
  .cardContent {
    width: 25rem;
    margin: 35px 85px 35px 85px;
  }
}

@media (max-width: 494px) {
  .cardContent {
    width: 25rem;
    margin: 35px 60px 35px 60px;
    max-height: fit-content;
  }
}

@media (max-width: 430px) {
  .cardContent {
    width: 25rem;
    margin: 35px 30px 35px 30px;
  }
}
