.head {
  font-size: clamp(1rem, 10vw, 5rem);
  font-family: arial;
  color: black;
  margin-top: 15%;
  font-weight: 500;
}
.btn1 {
  font-size: 40%;
  background-color: #008dc8;
  color: white;
  padding: 5px 23px;
  border-radius: 70px;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.7);
  transform: translateY(-600%);
}
.btn2 {
  font-size: 40%;
  background-color: #008dc8;
  color: white;
  padding: 5px 23px;
  border-radius: 70px;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.7);
  transform: translateY(-600%);
  margin-left: 5%;
}
.dreams {
  color: #008dc8;
  font-weight: bold;
}
hr {
  color: #008dc8;
  margin-top: -2%;
  margin-bottom: 1rem;
  border: 0;
  border-top: 6px solid;
  width: 13%;
  margin-left: 28%;
}
.code {
  width: 450px;
  height: 450px;
  transform: translateX(140%);
  margin-top: -22%;
}
.girl {
  width: 500px;
  height: 350px;
  transform: translateX(5%);
  margin-top: -10%;
}
@media only screen and (max-width: 1199px) and (min-width: 992px) {
  .girl {
    transform: translateX(73%);
    margin-top: -35%;
  }
  .code {
    transform: translateX(111%);
  }
  .head {
    margin-top: 16%;
  }
  .hr {
    margin-left: 35%;
    width: 14%;
  }
}
@media only screen and (max-width: 991px) and (min-width: 768px) {
  .girl {
    transform: translateY(-75%);
    width: 73%;
    height: 31%;
  }
  .code {
    transform: translateX(14%);
    margin-top: 10%;
    width: 595px;
    height: 465px;
  }
  .head {
    margin-top: 20%;
    text-align: center;
    font-size: 630%;
  }
  .hr {
    width: 29%;
    transform: translateX(118%);
  }
  .btn1 {
    margin-top: 6%;
    font-size: 2rem;
    padding: 5px 25px;
    margin-left: 0%;
  }
  .btn2 {
    font-size: 2rem;
    padding: 5px 25px;
    transform: translateY(-600%);
    margin-left: 15%;
  }
}
@media only screen and (max-width: 767px) {
  .girl {
    transform: translateY(-82%);
    width: 67%;
    height: 27%;
  }
  .code {
    transform: translateX(-14%);
    margin-top: 10%;
    width: 587px;
    height: 333px;
  }
  .head {
    margin-top: 26%;
    text-align: center;
  }
  .hr {
    margin-left: 65%;
    width: 27%;
  }
  .btn1 {
    margin-top: 25%;
    font-size: 2rem;
    padding: 5px 25px;
    margin-left: -2%;
  }
  .btn2 {
    font-size: 2rem;
    padding: 5px 25px;
    transform: translateY(-600%);
    margin-left: 10%;
  }
}
@media only screen and (max-width: 650px) {
  .hr {
    margin-left: 65%;
    width: 21%;
    border: 3px solid;
  }
}
@media only screen and (max-width: 600px) {
  .head {
    font-size: 340%;
    text-align: center;
    margin-top: 41%;
  }
  .girl {
    transform: translateY(-88%);
    margin-left: -3%;
    position: absolute;
    width: 58%;
    height: 45%;
  }
  .btn1 {
    position: absolute;
    margin-left: -37%;
    margin-top: 15%;
    padding: 5px 26px;
    font-size: 1.8rem;
  }
  .btn2 {
    position: absolute;
    transform: translateY(-446%);
    margin-left: 5%;
    padding: 5px 26px;
    font-size: 1.8rem;
  }
  .hr {
    margin-left: 61%;
    width: 19%;
    border: 2px solid;
  }
}
@media only screen and (max-width: 599px) {
  .btn1 {
    position: absolute;
    margin-left: -35%;
    margin-top: 25%;
    padding: 5px 26px;
    font-size: 1.8rem;
  }
  .btn2 {
    position: absolute;
    transform: translateY(-345%);
    margin-left: 7%;
    padding: 5px 26px;
    font-size: 1.8rem;
  }
  .code {
    transform: translateX(-9%);
  }
}
@media only screen and (max-width: 530px) {
  .btn2 {
    transform: translateY(-364%);
  }
}
@media only screen and (max-width: 500px) {
  .btn2 {
    transform: translateY(-205%);
    margin-left: 21%;
  }
  .girl {
    transform: translateY(-76%);
    margin-left: 0%;
    width: 62%;
    height: 50%;
  }
  .btn1 {
    margin-top: 42.3%;
    margin-left: -29%;
  }
  .head {
    font-size: clamp(1rem, 15vw, 5rem);
    text-align: center;
  }
  .hr {
    margin-left: 66%;
    width: 28%;
    border: 3px solid;
  }
}
@media only screen and (max-width: 475px) {
  .btn2 {
    transform: translateY(-219%);
  }
}
@media only screen and (max-width: 477px) {
  .head {
    font-size: clamp(1rem, 15vw, 5rem);
    text-align: center;
  }
  .code {
    transform: translateX(32%);
    height: 239px;
    width: 285px;
  }
  .girl {
    transform: translateY(64%);
    margin-left: -60%;
    width: 59%;
    height: 50%;
  }

  .btn1 {
    margin-top: -19%;
    font-size: 1.3rem;
    transform: translateX(-6%);
    position: absolute;
    padding: 5px 16px;
  }
  .btn2 {
    transform: translateY(-212%);
    font-size: 1.3rem;
    margin-left: 5%;
    padding: 5px 16px;
  }
}
@media only screen and (max-width: 440px) {
  .btn2 {
    transform: translateY(-205%);
  }
}
@media only screen and (max-width: 430px) {
  .head {
    font-size: clamp(1rem, 15vw, 5rem);
    text-align: center;
  }
  .code {
    transform: translateX(23%);
    height: 214px;
    width: 282px;
  }
  .girl {
    transform: translateY(64%);
    margin-left: -65%;
    width: 59%;
    height: 50%;
  }
  .btn1 {
    margin-top: -20%;
    font-size: 1.3rem;
    transform: translateX(-1%);
    position: absolute;
    padding: 5px 16px;
  }
  .btn2 {
    transform: translateY(-210%);
    font-size: 1.3rem;
    margin-left: 4%;
    padding: 5px 16px;
  }
}
@media only screen and (max-width: 414px) {
  .btn2 {
    transform: translateY(-203%);
  }
}
@media only screen and (max-width: 411px) {
  .btn2 {
    transform: translateY(-200%);
  }
}
@media only screen and (max-width: 380px) {
  .btn2 {
    transform: translateY(-183%);
  }
}
@media only screen and (max-width: 360px) {
  .head {
    font-size: clamp(1rem, 15vw, 5rem);
    text-align: center;
  }
  .code {
    transform: translateX(9%);
    height: 200px;
    width: 282px;
  }
  .girl {
    transform: translateY(66%);
    margin-left: -81%;
    width: 65%;
    height: 50%;
  }

  .btn1 {
    margin-top: 83%;
    font-size: 40%;
    transform: translateX(-159%);
    position: absolute;
    padding: 5px 16px;
  }
  .btn2 {
    transform: translateY(712%);
    font-size: 40%;
    margin-right: 15%;
    padding: 5px 16px;
  }
}
@media only screen and (max-width: 320px) {
  .btn2 {
    transform: translateY(700%);
  }
}
@media only screen and (max-width: 311px) {
  .girl {
    transform: translateX(124%);
    margin-top: -52%;
  }
  .btn1 {
    transform: translateX(-145%);
    font-size: 40%;
    margin-top: 91%;
  }
  .btn2 {
    transform: translateY(765%);
    font-size: 40%;
    margin-right: 12%;
    padding: 5px 16px;
  }
}

@media only screen and (max-width: 280px) {
  .btn2 {
    transform: translateY(726%);
    margin-right: 5%;
  }
  .btn1 {
    transform: translateX(-137%);
  }
}
@media only screen and (max-width: 277px) {
  .girl {
    transform: translateX(132%);
    margin-top: -66%;
  }
  .btn1 {
    margin-top: 83%;
    font-size: 40%;
    transform: translateX(-117%);
    position: absolute;
  }
  .btn2 {
    transform: translateY(671%);
    margin-right: 1%;
  }
  .head {
    margin-top: 52%;
  }
}
@media only screen and (max-width: 233px) {
  .girl {
    transform: translateX(114%);
    margin-top: -76%;
    width: 78%;
    height: 50%;
  }
  .btn1 {
    margin-top: 100%;
    font-size: 40%;
    transform: translateX(-105%);
    position: absolute;
  }
  .btn2 {
    transform: translateY(777%);
    margin-right: -3%;
    font-size: 40%;
    position: absolute;
  }
  .head {
    margin-top: 62%;
  }
  .code {
    transform: translateX(2%);
  }
  .hr {
    margin-left: 68%;
    width: 30%;
    border: 2px solid;
  }
}
