.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.head {
  font-family: Arial;
  font-size: 70px;
  padding: 20px;
  text-align: center;
}

.blue {
  font-family: Arial;
  color: #008dc8;
}

.image {
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 0.4s ease;
  transform: translateY(-50%);
  transform: translateX(50%);
}

.faqQuestion {
  position: relative;
  font-size: 40px;
  transition: all 0.4s ease;
  color: #000000;
  opacity: 1;
  content: "";
  font-size: 40px;
  transform: translateY(-90%);
  padding-left: 100px;
}

.faqAnswer {
  opacity: 0;
  overflow-y: hidden;
  max-height: 0;
  margin-left: 120px;
  transition: all 0.3s ease;
  border: 2px solid #394855;
  border-radius: 10px;
  font-size: 30px;
}

.faqAnsweropen {
  margin-left: 150px;
  transition: all 0.3s ease;
  border: 2px solid #394855;
  border-radius: 10px;
  max-height: none;
  opacity: 1;
  padding: 5px;
  font-size: 25px;
  margin-bottom: 50px;
  background: #f4f5f6 0% 0% no-repeat padding-box;
  padding: 20px;
}

.faqs {
  margin: 5px;
  margin-left: 200px;
  padding-bottom: 20px;
  padding-top: 20px;
  background-color: white;
  width: 70%;
}

.hdivider {
  box-shadow: 0px 5px 5px #00000029;
  border: 1px solid #707070;
  opacity: 1;
  width: 60%;
  height: 0;
  float: right;
  margin-right: 8%;
  transform: translateY(-30px);
  margin-bottom: 25px;
}

.divider {
  box-shadow: 0px 5px 5px #00000029;
  border: 1px solid #707070;
  opacity: 1;
  width: 70%;
  height: 0;
  float: right;
  margin-right: 15%;
  margin-top: 40px;
}

.imageopen {
  transform: translateX(50%) rotate(180deg);
}

@media only screen and (max-width: 800px) {
  .head {
    font-size: 50px;
  }

  .faqQuestion {
    font-size: 30px;
  }

  .faqs {
    margin: 0px;
    margin-left: 20px;
    padding-bottom: 10px;
    padding-top: 25px;
    width: 90%;
  }

  .faqAnsweropen {
    max-height: none;
    opacity: 1;
    font-size: 20px;
    transition: all 0.2s ease;
    border: 2px solid #394855;
    border-radius: 10px;
    margin-left: 20px;
    padding: 10px;
  }

  .divider {
    margin-top: 80px;
  }
}


   
