html,
body {
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.welcome {
  width: 100%;
  display: inline-block;
  margin: 0 auto;
  padding-top: 5rem;
  margin-bottom: 5rem;
  margin-top: 2rem;
}

.welcome h1 {
  color: #000000;
  font-size: 55px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.one {
  background-color: #f4f5f6;
  width: 500px;
  height: 300px;
  border: 1px solid #707070;
  border-radius: 40px;
}

.left {
  padding: 20px;
  padding-left: 10px;
  text-align: left;
  width: 250px;
}
.left img {
  height: 200px;
  width: 200px;
}

.right {
  transform: translateY(-230px);
  margin-left: 250px;
  align-items: right;
  text-align: left;
  width: 200px;
}

.right h1 {
  font-size: 34px;
}

.right hr {
  width: 200px;
  height: 3px;
  background-color: rgb(0, 141, 200);
  opacity: 1;
  margin-top: 0px;
}

.right a {
  background-color: rgb(0, 141, 200);
  color: #ffffff;
  border-radius: 50px;
  padding: 6px 15px;
  margin-left: 80px;
  text-decoration: none;
  right: 5px;
  top: 200px;
  position: absolute;
}

.right p {
  color: rgb(101, 99, 99);
}

hr {
  margin-top: 100px;
  top: 2767px;
  width: 900px;

  border: 1px solid #707070;
}

