  .block {
    position: relative;
    font-size: 13px;
    text-align: center;
    padding:15px;
  }
   .block:before {
    content: "\201C";
    font-family: "FontAwesome";
    left: 2px;
    top: 10px;
    color: palevioletred;
    position: absolute;
    font-size: 40px;
    opacity: 1.6;
    font-style: normal;
  }
  
  .block:after {
    content: "\201D";
    font-family: "FontAwesome";
    color: palevioletred;
    font-size: 40px;
    right: 3px;
    bottom: -20px;
    position: absolute;
    opacity: 1.6;
    font-style: normal;
  }
    
  