.card {
  border: none;
  background: #f4f5f6;
  margin-bottom: 5rem;
}

.topbar {
  background: #008dc8;
  height: 20px;
}

.img {
  max-width: 90px;
}

@media (max-width: 1000px) {
  .card {
    margin-bottom: 1rem;
  }
}
