.row_c1 {
  padding-left: 4rem;
}

.row_c2 {
  padding-right: 4rem;
}

.row3_c1 {
  margin-right: 4rem;
}

.row3_c2 {
  margin-left: 4rem;
}

@media (max-width: 1000px) {
  .row_c1 {
    padding-left: 1rem;
  }

  .row_c2 {
    padding-right: 1rem;
  }

  .row3_c1 {
    margin-right: 0rem;
  }

  .row3_c2 {
    margin-left: 0rem;
  }

  .imgboy {
    height: 290px !important;
  }
}

@media (max-width: 766px) {
  .imgboy {
    display: none !important;
  }
}

@media (min-width: 766px) {
  .small_imgboy {
    display: none !important;
  }
}
