.row {
  display: flex;
}

.card {
  border: none;
  background: #f4f5f6;
  margin-bottom: 5rem;
  flex-wrap: nowrap;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(168, 192, 235, 0.898);
}

.card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(124, 143, 181, 0.898);
  transform: scale(1.05);
}

.topbar {
  background: #008dc8;
  height: 20px;
}

.img {
  max-width: 100px;
  height: 70px;
  width: 70px;
}

.Title {
  font-family: "Inter", sans-serif;
  font-size: 1.15rem;
}

.button {
  background-color: #008dc8;
  border: none;
  color: #fff;
  text-align: center;
  border-radius: 50px;
  padding: 0.4rem 1.2rem;
  position: relative;
  transition: all 0.5s;
  cursor: pointer;
  font-size: 1rem;
  font-family: "Inter", sans-serif;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.7);
}

.button:hover {
  padding-left: 1.7rem;
  padding-right: 1.7rem;
  color: #fff;
}

@media (max-width: 1000px) {
  .card {
    margin-bottom: 1rem;
  }
}
