@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Inter", sans-serif;
}

.Heading {
  letter-spacing: 0px;
  font-size: 2.3rem;
  font-weight: 390;
  font-family: "Poppins", sans-serif;
  text-align: center;
  margin-top: -20px;
  max-width: 100%;
}

.Card {
  width: 32rem;
  margin: 14px 28px 14px 28px;
  border-radius: 25px;
  box-shadow: 0px 12px 12px -4px #ccc;
  transition: all 0.6s;
  background-color: whitesmoke;
}

.Card:hover {
  z-index: 99;
  box-shadow: 2px 4px 30px #b6b6b6;
  background-color: #ffffff;
  transform: scale(1.1);
  transition: all 1s;
}

.line {
  align-items: right;
  text-align: left;
  width: 80%;
  height: 3px;
  background-color: rgb(0, 141, 200);
  opacity: 1;
  border: none;
  margin-left: 1%;
}

.Img {
  height: 150px;
  width: 150px;
}

.Title {
  letter-spacing: 0px;
  font-size: 1.5rem;
  font-weight: 900;
  font-family: "Poppins", sans-serif;
  max-width: 100%;
}

.Para {
  font-family: "Inter", sans-serif;
  font-size: 1.15rem;
}

.Button {
  background-color: #008dc8;
  border: none;
  color: #fff;
  text-align: center;
  border-radius: 50px;
  font-size: 1rem;
  padding: 5px 10px 5px 10px;
  position: relative;
  float: inline-end;
  transition: all 0.5s;
  display: block;
  margin: auto auto auto 70%;
  width: 25%;
  cursor: pointer;
  font-family: "Inter", sans-serif;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.7);
}

.Button:hover,
.Button:focus,
.Button:active {
  background-color: #008dc8;
  color: white;
  width: 30%;
  padding: 5px 15px 5px 15px;
  text-decoration: none;
}

@media (max-width: 1200px) {
  .Card {
    margin-left: 23%;
  }
}

@media (max-width: 993px) {
  .Img {
    margin-left: 32%;
  }

  .Card {
    margin-left: 15%;
  }

  .line {
    width: 60%;
    margin-left: 20%;
  }

  .Content {
    text-align: center;
  }

  .Button {
    margin-top: 5%;
    margin-left: 38%;
  }
}

@media (max-width: 768px) {
  .Card {
    margin-left: 9%;
  }

  .Button {
    width: 30%;
    margin-left: 35%;
  }
}

@media (max-width: 444px) {
  .Button {
    width: 40%;
    margin-left: 30%;
  }
}

@media (max-width: 355px) {
  .Img {
    margin-left: 15%;
  }
  .Button {
    width: 50%;
    margin-left: 30%;
    margin-bottom: 5%;
  }
}
@media (max-width: 320px) {
  .Button {
    width: 50%;
    margin-left: 26%;
  }
}
